<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/analytics">Analytics</a></li>
  <li class="active">
    <%=@active%>
  </li>
</ol>

<%= partial :'analytics/header' %>

<script>
  $(function () {
    $("#stats").tablesorter({theme: 'default', sortList: [ [0,0 ]]});
  });
</script>
<table class="table" id="stats">
  <thead>
    <tr>
      <% @header.each { |h| %>
        <th><%=h%></th>
      <% } %>
    </tr>
  </thead>
  <% @stats.each { |row| %>
    <tr>
      <% row.each { |stat| %>
        <td><%=stat.is_a?(Float) ? "#{(stat*100).round}&#37;" : stat %></td>
      <% } %>
    </tr>
  <% } %> 
</table>