<div class="media">
  <span class="pull-left">
    <img class="media-object" style="width: 32px" src="<%=current_account.picture ? current_account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
  </span>
  <div class="media-body">
    <% form_tag (@conversation ? "/conversations/#{@conversation.slug}/post" : "/groups/#{@group.slug}/new_conversation"), :multipart => true do |f| %>        

      <% if !@conversation %>
        <label class="sr-only" for="conversation_subject">Subject</label>
        <%= text_field_tag :subject, :class => 'form-control', :id => 'conversation_subject', :placeholder => 'Subject', :style => 'margin-bottom: 10px; width: 15em;' %>
      <% end %>

      <label class="sr-only" for="conversation_body">Body</label>
      <%= text_area_tag :body, :class => 'wysiwyg form-control', :id => 'conversation_body', :style => 'display: block;' %>

      <div style="margin-top: 10px">
        <a class="btn btn-default" href="javascript:;" onclick="$(this).hide();
              $('#attach').show();
              $('#attach input').click();">Attach a file</a>
        <div style="display:none; margin-bottom: 10px" id="attach">
          <%= file_field_tag :attachment %>
        </div>
        <button type="submit" class="btn btn-default">Post</button>
      </div>
      
    <% end %> 
  </div>
</div> 


