<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Map</li>
</ol>

<script>
  $(function () {
    $('#map').load('/map?<%= {form: true, accounts: !ENV['HIDE_PEOPLE_BY_DEFAULT'], events: ENV['SHOW_EVENTS_BY_DEFAULT'], venues: ENV['SHOW_VENUES_BY_DEFAULT'], organisations: ENV['SHOW_ORGS_BY_DEFAULT']}.to_query %>')
  });
</script>
<div id="map"></div>
