<ol class="breadcrumb"> 
  <li class="active">
    <%= I18n.t(:organisations).capitalize %> 
  </li>
</ol>

<div class="row">
  <div class="col-md-6">
<%= partial :'organisations/list' %>
  </div>
</div>