<ol class="breadcrumb" style="margin-bottom: 20px"> 
  <li><a href="/">Home</a></li>
  <li class="active">
    <%= I18n.t(:organisations).capitalize %> 
  </li>
</ol>

<h1>Organisations</h1>

<div class="row">
  <div class="col-md-12">
    <%= partial :'organisations/list' %>
  </div>
</div>
