

<div style="margin: 10px 0" class="pull-right">
  <a href="/groups/<%=@group.slug%>/map/add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add a marker</a>
</div>
<iframe class="map" src="/groups/<%=@group.slug%>/iframe"></iframe>