
<% if group.open? %>
  <% if !group.memberships.find_by(account: current_account) %>
    <a class="btn btn-default btn-sm" href="/groups/<%=group.slug%>/join"><i class="fa fa-sign-in"></i> Join group</a>
  <% end %>
<% elsif group.closed? %>
  <% if group.membership_requests.find_by(account: current_account) %>  
    <a class="btn btn-default btn-sm disabled"><i class="fa fa-check"></i> Membership requested</a>
  <% else %>
    <form style="display:inline" method="post" action="/groups/<%=group.slug%>/request_membership"><button class="btn btn-default btn-sm"><i class="fa fa-bell"></i> Request membership</button></form>
  <% end %>
<% end %>