<ol class="breadcrumb" style="margin-bottom: 20px">
  <% if current_account.memberships.count > 1 %>
    <li><a href="/">Groups</a></li>
  <% end %>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>  
  <li class="active">
    Calendar
  </li>
</ol>

<%= partial :'events/calendar', :locals => {:calendar_path => "/groups/#{@group.slug}/calendar"} %>