<ol class="breadcrumb">
  <% if current_account.memberships.count > 1 %>
    <li><a href="/">Groups</a></li>
  <% end %>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>
  </li>
  <li class="active">
    Map
  </li>
</ol>

<style>iframe.map { height: 60vh }</style>
<%= partial :'markers/map' %>