<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>
  </li>
  <li class="active">
    Map
  </li>
</ol>

<style>iframe.map { height: 60vh }</style>
<%= partial :'markers/map' %>