<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li><a href="/groups/<%=@group.slug%>"><%=@group.slug%></a></li>
  <li class="active">Members</li>
</ol>

<h2><%=I18n.t(:members_in_this_group, count: @group.members.count)%></h2>
<%= partial :'accounts/list', :locals => {:scope => 'group', :scope_id => @group.id, :per_page => 100} %>