
<%= ul_nav 'admin-options', [
  ['<i class="fa fa-group"></i> ' + I18n.t(:manage_members).capitalize, 'manage_members'],
  ['<i class="fa fa-pencil"></i> ' + I18n.t(:settings).capitalize, 'edit'],
  ['<i class="fa fa-envelope"></i> ' + I18n.t(:emails).capitalize, 'emails'],
  ['<i class="fa fa-home"></i> ' + I18n.t(:landing_tab).capitalize, 'landing_tab'],
  ['<i class="fa fa-question"></i> ' + I18n.t(:did_you_know).capitalize, 'didyouknows'],
  ['<i class="fa fa-dashboard"></i> ' + I18n.t(:analytics).capitalize, 'analytics'],
  (['<i class="fa fa-hand-stop-o"></i> ' + 'Conversations requiring approval' + (@group.unapproved_conversations.count > 0 ? %Q{<span class="badge">#{@group.unapproved_conversations.count}</span>}  : ''), 'conversations_requiring_approval'] if @group.conversations_require_approval)
  ].compact, prefix: "/groups/#{@group.slug}/"
%>
