<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Docs</li>
</ol>

<h1>Docs</h1>

<a style="float: right" class="btn btn-primary modal-trigger" href="/docs/new"><i class="fa fa-plus"></i> Add a doc</a>    

<% form_tag '', :class => 'form-inline' do %>    
  <%=I18n.t(:filter_by_group).capitalize%>
  <%=select_tag :group_id, :selected => params[:group_id], :options => [''] + current_account.memberships.map(&:group).map { |group| [group.name, group.id] }.sort_by { |name,slug| name }, :class => 'form-control', :onchange => %Q{$('#docs').html('<i class="fa fa-spin fa-spinner"></i>');$('#docs').load('/docs?group_id='+$(this).val())} %>
<% end %>

<div id="docs">
  <%= partial :'docs/docs' %>
</div>