
<div style="margin-bottom: 10px">
  <div>    
    <a class="btn btn-danger" href="/config/restart"><i class="fa fa-power-off"></i> Restart app</a>
  </div>
  <div style="margin-top: 5px"> 

    <% if Config['APP_NAME'] and Config['MAIL_SERVER_ADDRESS'] %>

      <%
      Net::SSH.start(Config['MAIL_SERVER_ADDRESS'], Config['MAIL_SERVER_USERNAME'], :password => Config['MAIL_SERVER_PASSWORD']) do |ssh|
        result = ''
        ssh.exec!("ls /notify") do |channel, stream, data|
          result << data
          end
        @notification_script = result.include?("#{Config['APP_NAME']}.sh")      
        end
    %>

      <% if @notification_script %>
        <i class="fa fa-check"></i> Notification script present
        &middot;
        <a href="/config/create_notification_script">Recreate</a>
      <% else %>
        <i class="fa fa-warning"></i> Notification script missing
        &middot;
        <a href="/config/create_notification_script">Create notification script</a>
      <% end %>
    <% end %>

  </div>
</div>

<div style="margin-bottom: 20px">
  <%= ul_nav 'nav nav-tabs', [
    ['Environment variables', '/config'],  
    ['Fragments', '/fragments'],  
    ].compact %>
</div>