<div class="ical-instructions">
  <%=I18n.t(:add_events_to_your_google_calendar)%>
  <span style="border: 1px dotted #999; border-width: 0 0 1px 0">http://<%=Config['DOMAIN']%>/events/ical?token=<%=current_account.secret_token%></span>
</div>