<div class="ical-instructions">
  Add events to your Google Calendar (<a href="https://support.google.com/calendar/answer/37100?hl=en">instructions</a>), Apple Calendar, etc:<br />
  <span style="border: 1px dotted #999; border-width: 0 0 1px 0">http://<%=ENV['DOMAIN']%>/events.ics?token=<%=current_account.secret_token%></span>
</div>