
body { padding: 60px 0 20px 0; }

.breadcrumb { background: #F8F8F8; border: 0 }

ul.nav.nav-tabs { width: 100% }
.tabs-left .nav-tabs > li > a { transition: none; color: #aaa }
.tabs-left .nav-tabs > li.active > a { color: black }
.tabs-left .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs .open > a, .nav-tabs .open > a:hover, .nav-tabs .open > a:focus { padding: 10px 15px; margin-top: 6px; color: black }
.tabs-left .nav-tabs > li > a:hover { background: #EDEDED; }
.nav-tabs > li > a { color: #aaa }
.nav-tabs > li.active > a { background: #318CBA !important; color: white !important }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { border-color: #318CBA !important }
.nav-tabs > li > a { white-space: nowrap; overflow: hidden; font-weight: bold; text-transform: uppercase; padding: 5px !important }
.nav-tabs > li > a { font-size: 11px }
.nav-tabs > li > a > i { font-size: 14px }

ul.admin-options { margin-top: 5px; padding: 8px 15px; list-style-type: none; background: #f8f8f8 }
ul.admin-options li { display: inline-block; padding: 0px 8px }
ul.admin-options li:first-child { padding-left: 0 }
ul.admin-options li a { color: black; text-decoration: none; opacity: 0.25 }
ul.admin-options li a:hover, ul.admin-options li.active a { opacity: 1 }

table a, .table a { text-decoration: none }
table a:hover, .table a:hover { text-decoration: underline }

.restore-opacity { opacity: 0.5; }
.restore-opacity:hover { opacity: 1 !important  }

a.edit { color: black; text-decoration: none; opacity: 0.3 }
a.edit:hover { opacity: 1 }      

ol.breadcrumb { margin-bottom: 0 }
ol.breadcrumb li[style*=float]:before { content: '' }

select[name*=day], select[name*=month], select[name*=year], select[name*=hour], select[name*=min] { display:inline; width: auto } 

.popover { z-index: 1040 }
.tooltip { z-index: 1020; }  

.page-options { margin: 0; padding: 0; float: right }
.page-options li { display:inline-block; padding: 0.5em }

#results-form .select2-container { margin-bottom: 5px }

table a:not(.btn), .table a:not(.btn) { text-decoration: none }


// stacked tabs

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}