$primary: colors('primary');
$primary-dark: darken($primary, 15%);
$primary-contrast: colors('primary-contrast');
$secondary: colors('secondary');
$secondary-dark: darken($secondary, 15%);
$grey-light: colors('grey-light');
$grey-mid: colors('grey-mid');
$dark: colors('dark');
$dark-light: lighten($dark, 40%);
$dark-contrast: colors('dark-contrast');
$headerFont: 'Raleway';
$bodyFont: 'Raleway';

/*
elsewhere:
eventColor
blank.png
.alert-info
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,900,900i');

body, p, ul, ol, input, select, .form-control, label { font-family: $bodyFont, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 150%; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: $headerFont; }
h1, .h1 {font-size: 40px; margin-top: 20px; text-transform: uppercase; font-weight: 900 }
h2, .h2 {font-size: 32px;}
h3, .h3 {font-size: 28px;}
h4, .h4 {font-size: 22px;}
h5, .h5 {font-size: 18px;}
h6, .h6 {font-size: 16px;}
.panel-title { font-family: $headerFont; }
.navbar-brand { font-family: $headerFont; }

html {
  position: relative;
  min-height: 100%;
}
body { padding: 10px 0 0 0; }
.container-fluid { max-width: 1170px }

.breadcrumb { background: $grey-light; border: 0; margin-bottom: 20px }

abbr[title] { border: none }

#footer { background: $dark; padding: 20px 0; font-size: 14px; line-height: 130% }
@media(min-width: 768px) {
  body { padding-bottom: 120px }
  #footer { position: absolute; bottom: 0; height: 100px; width: 100%; }
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small { color: #ced0d3 }

.checkbox, .radio { padding-left: 0 }
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { position: relative; margin-left: 0; margin-right: 5px }
.radio label, .checkbox label { padding-left: 0 }

#members td, #members th { padding: 0.5em; vertical-align: top }
th[data-fieldname] a { color:black; text-decoration: none !important }
a.odn { visibility:hidden; }

.account-minimal { margin-bottom: 20px;}
.account-minimal h3 { font-size: 16px; margin: 8px 0 4px 0 }
.account-minimal ul { font-size: 14px }
@media(min-width: 768px) {
  .account-minimal { height: 280px; overflow-y: hidden; overflow-x: hidden }
  .account-minimal:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(rgba(255,255,255,0.001) 230px, white);
    z-index: 99;
    pointer-events: none
  }
}

table a, .table a { text-decoration: none }
table a:hover, .table a:hover { text-decoration: underline }

.restore-opacity { opacity: 0.4; }
.restore-opacity:hover { opacity: 1 !important  }

a.edit { color: black; text-decoration: none; opacity: 0.4 }
a.edit:hover { opacity: 1; color: $secondary }      

ol.breadcrumb li[style*=float]:before { content: '' }

select[name*=day], select[name*=month], select[name*=year], select[name*=hour], select[name*=min] { display:inline; width: auto } 

.popover { z-index: 1040 }
.tooltip { z-index: 1020; }  

.page-options { margin: 0; padding: 0; position: relative; top: 2px; float: right }
.page-options li { display:inline-block; padding: 0.5em }

.page, .page p  {  font-size: 17px; line-height: 1.6; }

#results-form .select2-container { margin-bottom: 5px }
#results-form { background: $grey-light; border-radius: 5px; padding: 10px }

table a:not(.btn), .table a:not(.btn) { text-decoration: none }

a.group { color: $dark-light }

.select2-container .select2-choice {
  border: 2px solid #bdc3c7;
  height: 38px;
  line-height: 38px;
}
.select2-container .select2-choice .select2-arrow { border: 0; border-radius: 0 }
.note-editor .btn-sm { font-size: 11px; line-height: 100% }
.note-editor .btn-group > .btn + .dropdown-toggle { padding-top: 9px; padding-bottom: 9px }
.note-editable { background: white }

hr { border-color: #ccc; margin-top: 18px; margin-bottom: 18px }

.dropdown-menu.typeahead { border-color: $secondary }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background: $secondary }

.select2-drop .select2-highlighted > .select2-result-label { background-color: $secondary }
.select2-container .select2-choice, .select2-container .select2-default { background: white; font-size: 13px }
.select2-container .select2-choice abbr { top: 11px }
.select2-container .select2-choice .select2-arrow b { position: relative; top: 3px }

.alert-info {
  background-color: #3498DB;
  border-color: #2980B9;
  color: #fff;
}

.badge { background:  $secondary }

a { color: $secondary }
a:hover, a:focus, a:active { color: $secondary-dark }

.btn-primary { background: $primary; color: $primary-contrast }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { background: $primary-dark; color: $primary-contrast }
       
.btn-info { background: $secondary; color: white }
.btn-info:hover, .btn-info:focus, .btn-info:active  { background: $secondary-dark}

.navbar-inverse { background: $dark }
.navbar-inverse .navbar-nav > .open > .dropdown-menu  { background: $dark }
.navbar-inverse .navbar-nav > .open > .dropdown-menu > .divider { background: black }
.navbar-inverse .navbar-collapse { border-color: black }
.navbar-inverse .navbar-toggle:hover::before, .navbar-inverse .navbar-toggle:focus::before { color: $dark-contrast; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: $dark-contrast }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background-color: black }
.navbar-inverse .navbar-nav > .dropdown > a .caret { border-bottom-color: #777; border-top-color: #777; }
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret, .navbar-inverse .navbar-nav > .dropdown > a:focus .caret { border-bottom-color: $primary; border-top-color: $dark-contrast; }
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:focus { background: black; color: $dark-contrast }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus { color: $dark-contrast }
.navbar-nav > li > a { font-size: 14px }
.navbar-nav > li > .dropdown-menu { margin-top: 2px; font-size: 14px  }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background-color: $secondary }

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { color: $dark }

.form-group.focus .form-control, .form-control:focus, .form-group.focus .select2-search input[type="text"], .select2-search input[type="text"]:focus { border-color: $secondary }

.img-bordered { border: 6px solid $primary; }
.img-bordered:hover { border: 6px solid $secondary; }
.img-bordered-lg { border: 8px solid $primary; }

#footer, #footer a { color: $dark-light }
#footer a:hover { color: $dark-contrast }

.pagination li.previous > a, .pagination li.next > a, .pagination li.previous > span, .pagination li.next > span, .pagination li > a, .pagination li > span { color: #fff; background: $grey-mid }
.pagination li.disabled > a, .pagination li.disabled > span, .pagination li.disabled > a:hover, .pagination li.disabled > span:hover, .pagination li.disabled > a:focus, .pagination li.disabled > span:focus, .pagination li.disabled > a:active, .pagination li.disabled > span:active { color: $dark-light }
.pagination li.active > a, .pagination li.active > span { background: $primary }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background: $primary-dark }
.pagination li > a:hover, .pagination li > span:hover, .pagination li > a:focus, .pagination li > span:focus { background: $primary }

.label-primary { background: $primary; color: $primary-contrast }
.label-primary[href]:hover, .label-primary[href]:focus { background: $primary-dark; color: $primary-contrast }

.panel-primary {
  border-color: $primary;
}
.panel-primary > .panel-heading {
  background-color: $primary;
  border-color: $primary;
  color: $primary-contrast;
}

.progress-bar {
  background: $secondary;
}

.table-hr td:first-child { width: 1px; white-space: nowrap; font-weight: bold; padding-right: 20px }
.table-hr td { border: 0 !important; border-bottom: 2px solid #ccc !important; }
.table-hr-container { background: #f5f5f5; border-radius: 5px; padding: 5px 10px; margin: 20px 0 }

p.lead { font-size: 20px; line-height: 140% }

.breadcrumb > li + li::before { font-family: FontAwesome; content: '\f0da' }

.pagination li.next, .pagination li.previous {
  position: static;
}


@media(max-width: 767px) {
  .carousel-caption h1 { font-size: 36px }
}
@media(min-width: 768px) {
  .carousel-caption {
    left: 10%;
    padding-bottom: 62px;
    right: 10%;
  }
  .carousel-caption p { font-size: 22px; line-height: 130% }
}

.conversation-form {
  background: $grey-light; border-radius: 8px; padding: 12px
}
.conversation-title { font-size: 18px; line-height: 100% }

.ical-instructions { text-align: center; margin-top: 10px; padding: 10px; background: $grey-light; border-radius: 5px }

.conversation-post-info { color: #aaa; margin-top: 10px; background: $grey-light; padding: 5px 10px; border-radius: 4px }
.classified-info { color: #aaa; margin-top: 10px; background: $grey-light; padding: 3px 6px; border-radius: 4px }

ul.admin-options { margin-top: -15px; padding: 8px 15px; list-style-type: none; background: $grey-light; margin-bottom: 20px; }
ul.admin-options li { display: inline-block; padding: 0px 8px }
ul.admin-options li:first-child { padding-left: 0 }
ul.admin-options li a { color: black; text-decoration: none; opacity: 0.4 }
ul.admin-options li a:hover, ul.admin-options li.active a { color: $secondary; opacity: 1 }

#venue-filters { background: $grey-light }
#map-canvas { background: $grey-light !important; }
.wall-conversation-post-replies { background: $grey-light }
.stats-highlight { }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .select2-search input[type="text"][disabled], .select2-search input[type="text"][readonly], fieldset[disabled] .select2-search input[type="text"] { color: $dark-light }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
