html {
  position: relative;
  min-height: 100%;
}
body { padding: 10px 0 80px 0; }
.container-fluid { max-width: 1170px }

.breadcrumb { background: #F8F8F8; border: 0 }

abbr[title] { border: none }


body, p {font-size: 17px; line-height: 1.6;}
h1, .h1 {font-size: 50px; }
h2, .h2 {font-size: 36px;}
h3, .h3 {font-size: 30px;}
h4, .h4 {font-size: 24px;}
h5, .h5 {font-size: 20px;}
h6, .h6 {font-size: 18px;}


.account-minimal { margin-bottom: 20px;}
@media(min-width: 768px) {
  .account-minimal { height: 280px; overflow-y: hidden }
  .account-minimal:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 230px, white);
    z-index: 99;
    pointer-events: none
  }
}

ul.admin-options { margin-top: 5px; padding: 8px 15px; list-style-type: none; background: #f8f8f8 }
ul.admin-options li { display: inline-block; padding: 0px 8px }
ul.admin-options li:first-child { padding-left: 0 }
ul.admin-options li a { color: black; text-decoration: none; opacity: 0.25 }
ul.admin-options li a:hover, ul.admin-options li.active a { opacity: 1 }

table a, .table a { text-decoration: none }
table a:hover, .table a:hover { text-decoration: underline }

.restore-opacity { opacity: 0.5; }
.restore-opacity:hover { opacity: 1 !important  }

a.edit { color: black; text-decoration: none; opacity: 0.3 }
a.edit:hover { opacity: 1 }      

ol.breadcrumb { margin-bottom: 0 }
ol.breadcrumb li[style*=float]:before { content: '' }

select[name*=day], select[name*=month], select[name*=year], select[name*=hour], select[name*=min] { display:inline; width: auto } 

.popover { z-index: 1040 }
.tooltip { z-index: 1020; }  

.page-options { margin: 0; padding: 0; float: right }
.page-options li { display:inline-block; padding: 0.5em }

#results-form .select2-container { margin-bottom: 5px }

table a:not(.btn), .table a:not(.btn) { text-decoration: none }

a.group { color: #999 }

.select2-container .select2-choice .select2-arrow { border: 0 }
.note-editor .btn-sm { font-size: 11px; line-height: 100% }
.note-editor .btn-group > .btn + .dropdown-toggle { padding-top: 9px; padding-bottom: 9px }


a { color: #E74C3C }
.btn-primary { background: #F5D74B; color: #222 }
.btn-primary:hover { background: #cda70d; color: #222 }

.navbar-inverse { background: #333333 }
.navbar-inverse .navbar-nav > .open > .dropdown-menu  { background: #333333 }
.navbar-inverse .navbar-nav > .open > .dropdown-menu > .divider { background: black }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: #F5D74B }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background-color: black }
.navbar-inverse .navbar-nav > .dropdown > a .caret { border-bottom-color: #777; border-top-color: #777; }
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret, .navbar-inverse .navbar-nav > .dropdown > a:focus .caret { border-bottom-color: #F5D74B; border-top-color: #F5D74B; }
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:focus { background: black; color: #F5D74B }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus { color: #F5D74B }
