<div id="footer" class="row">
  <div class="col-md-6 col-md-offset-3">
    <hr />
    <div class="restore-opacity" style="text-align: center">
      <a href="/about">About <%=ENV['SITE_NAME_SHORT']%></a>
      &middot;
      <a href="mailto:<%=ENV['HELP_ADDRESS']%>">Feedback/questions</a>
    </div>
  </div>
</div>