<script>
  $(function () {
    $('#main').load('/digest')
  })
</script>
<div class="row">
  <div class="col-md-8" id="main">        
    <h2><i class="fa fa-spin fa-spinner"></i></h2>
  </div>
  <div class="col-md-4">
    <h2>
      <%=I18n.t(:people_in_your_groups, count: current_account.network.count)%>
      <small><a class="edit" title="Full page" href="/network"><i class="fa fa-th-list"></i></a></small>
    </h2>
    <%= partial :'accounts/list', :locals => {:scope => 'network', :scope_id => nil} %>
  </div>
</div>
