
<h2><%=I18n.t(:people_in_your_groups, count: current_account.network.count)%></h2>

<div class="row">
  <div class="col-md-12">
    <%= partial :'accounts/list', :locals => {:scope => 'network', :scope_id => nil, :per_page => 100} %>
  </div>
</div>