<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">People</li>
</ol>

<h1>People</h1>

<%= partial :'accounts/list', :locals => {:scope => 'network', :scope_id => nil, :per_page => 18, :o => :updated, :full_width => true} %>
