<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%=@fragment.title%></li>
</ol>

<div class="page">
  <% if Fragment.find_by(slug: 'right-col') %>
    <div class="row">
      <div class="col-md-9">
      <% end %>
      <%= eval(f(@fragment.slug)) %>
      <% if Fragment.find_by(slug: 'right-col') %>
      </div>
      <div class="col-md-3">
        <%= eval(f('right-col')) %>    
      </div>
    </div>
  <% end %>
</div>
