<% if hot_conversations.length > 0 %>
  <h3><% if group and group.hot_conversation_threshold == 1 %>Conversations<% else %>Hot conversations<% end %> <% if group %><a class="btn btn-default btn-sm" href="/groups/<%=group.slug%>"><i class="fa fa-comments"></i> Browse all conversations</a><% end%></h3>
  <%= partial :'conversations/conversations_table', :locals => {:conversations => hot_conversations} %>
<% end %>   