<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=ENV['SITE_NAME']%></title>

    <%
    [
      'email.css',
      'news.css'
    ].each { |file| %> 
      <%= "<style>#{File.open("#{Padrino.root}/app/assets/stylesheets/#{file}", "r").read}</style>" %>
    <% } %>         

  </head>
  <body>

    <%= yield %>

    <%= partial :footer %>

  </body>
</html>
