<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title><%=@title || ENV['SITE_NAME']%></title>

    <%
    [
      'email.css',
      'news.css'
    ].each { |file| %> 
      <%= "<style>#{File.open("#{Padrino.root}/app/assets/stylesheets/#{file}", "r").read}</style>" %>
    <% } %>         

  </head>
  <body>

    <%= yield %>
    
  </body>
</html>
