<% if !ENV['HIDE_SEARCH_MEMBERSHIPS'] %>    
  <% if account.public_memberships.count > 0 %>
    <li>
      <i title="Groups" class="fa fa-li fa-group"></i>
      <%=I18n.t(:member_of).capitalize%> <%= account.public_memberships.map { |membership| %Q{<a href="/groups/#{membership.group.slug}">#{membership.group.slug}</a>} }.to_sentence %>
    </li>
  <% end %>    
<% end %>
