
<p><%= page_entries_info @accounts, :model => 'Person' %></p>

<div class="row">
  <% @accounts.each { |account| %>
    <div class="<%= full_width ? 'col-sm-4 col-md-2' : 'col-sm-6' %> account-minimal">
      <%= partial :'accounts/minimal', :locals => {:account => account}  %>
    </div>
  <% } %>
</div>

<%= will_paginate @accounts, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer, :page_links => full_width %>