
<p><%= page_entries_info @accounts, :model => 'Person' %></p>

<% @accounts.each { |account| %>
  <div class="account">
      <div style="margin-bottom: 10px; border: 1px solid #ddd; border-radius: 5px; padding: 5px">
          <%= partial :'accounts/account', :locals => {:account => account}  %>
      </div>
  </div>
<% } %>

<script>
  $(function () {
      $('#results .pagination a').click(function (e) {
          if ($(this).attr('href') != '#') {
              $('#results').load($(this).attr('href'), function () {
                  scroll(0, 0);
              });
          }
          return false;
      });
  });
</script>
<%= will_paginate @accounts, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer, :page_links => false %>