<% if !ENV['HIDE_SEARCH_TAGS'] %>
  <% if account.account_tagships.count > 0 %>
    <li>
      <i title="<%=I18n.t(:account_tagships).capitalize%>" class="fa fa-li fa-tags"></i>
      <% account.account_tagships.each { |account_tagship|%>
        <a href="/people?account_tag_id=<%=account_tagship.account_tag_id%>" class="label label-primary" style="text-indent: 0"><%=account_tagship.account_tag.name%></a>
      <% } %>
    </li>
  <% end %>    
<% end %>