
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2 style="margin: 10px 0 20px 0">Reset password</h2>
    
    <% form_for @account, "/accounts/reset_password/#{@account.password_reset_token}", :class => 'form-horizontal', :multipart => true do |f| %>
        <%= f.password_block :password, hint: '' %>
        <%= f.password_block :password_confirmation %>
        <%= f.submit_block button_text: 'Set password' %>
      <% end %>

    </div>
  </div>